@charset "UTF-8";

@font-face {
	font-family: Titillium Text;
	src: url('/style/fonts/TitilliumText25L003.otf') format("opentype");
}

@font-face {
	font-family: Titillium Title;
	src: url('/style/fonts/TitilliumTitle20.otf') format("opentype");

}

@font-face { 
	font-family: Titillium Bold;
	src: url('/style/fonts/TitilliumText25L001.otf') format("opentype");

}

* {
    font-family: 'Titillium Text', sans-serif;
}

a {
    color: #98bf0e;
    text-decoration: none;
}

h1 {
    color: #ffffff;
    size: 3em;
    margin: 1em auto;
}

.content {
    margin: 2em auto;
    max-width: 90%;
    width: 30em;
}