@charset "UTF-8";

@font-face {
	font-family: Titillium Text;
	src: url('/style/fonts/TitilliumText25L003.otf') format("opentype");
}

@font-face {
	font-family: Titillium Title;
	src: url('/style/fonts/TitilliumTitle20.otf') format("opentype");

}

@font-face { 
	font-family: Titillium Bold;
	src: url('/style/fonts/TitilliumText25L001.otf') format("opentype");

}

* {
    font-family: 'Titillium Text', sans-serif;
}

a {
    color: #98bf0e;
    text-decoration: none;
}

h1 {
    margin: 1em auto;
    size: 3em;
}

h2 {
    margin: 0 auto 1em;
    size: 2em;
}

header {
    background-color: #98bf0e;
    color: #ffffff;
}

.content {
    margin: 2em auto;
    max-width: 90%;
    width: 500px;
    size: 1em;
}

.subheader {
    color: rgba(255,255,255,70%)
}